
.fondooo1{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3der.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo2{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3b.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo3{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3c.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo4{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3d.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo5{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3e.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo6{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3f.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo7{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3a.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo8{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3h.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
  .fondooo9{
    height: 390px;
    width: 100%;
    background-image: url('../imagenes/cabaña3i.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }
 


